@charset "UTF-8";
@font-face {
    font-family: "PlayRegular";
    src: url("fonts/PlayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayBold";
    src: url("fonts/PlayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TimerFont";
    src: url("fonts/CursedTimerUlil.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Timmana";
    src: url("fonts/Timmana-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    --scale: 1;
    font-size: calc(62.5% / var(--scale));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PlayRegular", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    /*font-size: 2.4rem;*/
    background: var(--body-background);
}

/** {*/
/*    outline: 2px solid black !important;*/
/*}*/

.preload *, .preload *::before, .preload *::after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

:root {
    --black: #363434;
    --white: #f3f3f3;
    --main-color: #8648B4;
    --text-color1: white;
    --placeholder-color: #757575;
    --main-color-dark: #67378A;
    --main-color-darkest: #3F086B;

    --timer__item-ratio: 5.8;


    --input-color: var(--main-color);
    --inputs-background: #F3E4FF;
    --inputs-inner-shadow: inset calc(0.4em / var(--timer__item-ratio)) calc(0.4em / var(--timer__item-ratio)) calc(0.7em / var(--timer__item-ratio)) #ad8dbd, inset calc(-0.4em / var(--timer__item-ratio)) calc(-0.4em / var(--timer__item-ratio)) calc(0.7em / var(--timer__item-ratio)) #ebbfff;
    --body-background: linear-gradient(135deg, #A18CD1 0%, #FBC2EB 100%);
    --timer-shadow: 0.6rem 0.6rem 0.5rem 0 #bc9ac5, -0.6rem -0.6rem 0.5rem 0 #ddb5e8;
    --timer-border: 0.2rem solid var(--main-color);
    --timer-stroke: var(--main-color-dark);
    --controls-shadow: 0.2rem 0.2rem 0.2rem 0 #bc9ac5, -0.2rem -0.2rem 0.3rem 0 #ddb5e8;
    --controls-color: var(--main-color);
    --controls-inner-shadow: inset 0.3rem 0.3rem 0.6rem #ad8dbd, inset -0.4rem -0.4rem 0.7rem #ebbfff;
    --dots-color: var(--main-color);
    --input-focus-color: var(--main-color-dark);
    --input-text-color: var(--main-color-darkest);
    --worldItem-main: var(--main-color-dark);
    --worldItem-darker: var(--main-color-darkest);
    --worldItem-time-color: white;
    --worldItem-bg: var(--white);
    --menu-active-bg: rgba(0, 0, 0, 0.25);
    --menu-active-color: var(--text-color1);
    --flags-bg: linear-gradient(145deg, #fff4ff, #dbcde6);
    --flag-color: var(--main-color-darkest);
    --icon-color: var(--main-color);
    --header-height: 7em;
}

[class*=__wrapper] {
    margin: 0 auto;
    padding: 0 2rem;
    width: 134rem;
}

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color1);
    margin: 0 auto;
    width: 100%;
    max-width: 150rem;
    height: var(--header-height);
}

.header__logo, .header__logo-tablet {
    font-family: "Timmana", sans-serif;
    font-size: 5.2em;
    padding-top: 2rem;
}

.header__logo-tablet {
    display: none;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.menu::before {
    position: absolute;
    content: " ";
    height: 100%;
    z-index: 0;
    background: var(--menu-active-bg);
    background: var(--menu-active-bg);
    -webkit-transition: all 0.75s cubic-bezier(0.5, 1.95, 0.03, 0.82);
    -moz-transition: all 0.75s cubic-bezier(0.5, 1.95, 0.03, 0.82);
    -o-transition: all 0.75s cubic-bezier(0.5, 1.95, 0.03, 0.82);
    transition: all 0.5s cubic-bezier(0.5, 1.5, 0.03, 0.9);
}

.menu.firstTab::before {
    transform: translateX(0);
    width: 17.5em;
}

.menu.secondTab::before {
    transform: translateX(17.5em);
    width: 22.5em;
}

.menu.thirdTab::before {
    transform: translateX(40em);
    width: 27em;
}

.menu__item {
    font-size: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    padding: 0 1.875em;
    text-decoration: none;
    list-style: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.menu.firstTab .menu__item:nth-child(1) {
    color: var(--menu-active-color);
}

.menu.secondTab .menu__item:nth-child(2) {
    color: var(--menu-active-color);

}

.menu.thirdTab .menu__item:nth-child(3) {
    color: var(--menu-active-color);
}

.menu__item:hover {
    color: #BEBEBE;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.input-changeColor {

}

input[type="color"] {
    border: none;
}

.changeColor {
    position: relative;
}

.input-changeColor {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.label-inputColor {
    display: block;
    background-color: transparent;
    width: 3.5em;
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
    transition: 0.2s scale, 2s background-color ease-in-out;
    border-radius: 50%;
    outline: 0.3em dashed var(--text-color1);
    animation: inputColor-rotaion 8s infinite linear;
}

.input-changeColor:focus + .label-inputColor {
    scale: 1.2;
    animation: inputColor-rotaion 3s infinite linear;
}

.grid {
    display: grid;
    place-items: center;
    max-width: 80rem;
}

.item-1 {
    grid-row: 1/-1;
    grid-column: 1/-1;
}

.item-2 {
    background-color: lime;
    grid-row: 1/-1;
    grid-column: 1/-1;
}

.timer__wrapper {
    display: grid;
    justify-content: center;
    font-size: 1rem;
}

.timer__current-time {
    font-size: 2.8em;
    padding: .5rem .7rem;
    background-color: var(--white);
    color: var(--main-color-darkest);
    border-radius: .5rem;
}

.flags1 {
    grid-area: flag1;
    align-items: self-end;
}

.timer__self, svg {
    grid-area: timer;
}

.flags2 {
    grid-area: flag2;
    align-items: self-start;
}

.flags {
    --flags--ratio: 2.4;
    font-size: 2.4em;
    display: none;
    flex-direction: column;
    max-height: calc(40em / var(--flags--ratio));
    row-gap: calc(1em / var(--flags--ratio));
}

.flags__item {
    background: var(--text-color1);
    color: var(--flag-color);
    padding: calc(0.2em / var(--flags--ratio)) calc(0.7em / var(--flags--ratio));
    padding-left: 0;
    border-radius: calc(0.4em / var(--flags--ratio));
    animation: flags__item 0.3s cubic-bezier(0.5, 1.95, 0.03, 0.82) forwards;
}

.flags__item span {
    margin-right: calc(0.2em / var(--flags--ratio));
    color: var(--text-color1);
    background: var(--main-color);
    padding: calc(0.2em / var(--flags--ratio)) calc(0.7em / var(--flags--ratio));
    border-top-left-radius: calc(0.4em / var(--flags--ratio));
    border-bottom-left-radius: calc(0.4em / var(--flags--ratio));
}

.svgCircle {
    margin-inline: auto;
    margin-top: -0.7em;
    rotate: -90deg;
    display: flex;
    justify-content: center;
    z-index: 1;
    opacity: 0;

    width: 48.4em;
    height: 48.4em;
}

.svgCircle circle {
    cy: 24.2em;
    cx: 24.2em;
    r: 23.4em;
    stroke-width: 0.8em;
}

.flag-icon {
    width: 1.8em;
    height: 2.2em;
    z-index: 2;
}

.circle_animation {
    position: absolute;
    stroke: var(--timer-stroke);
    stroke-dasharray: calc(150.8em); /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 150.8em;
    transition: stroke-dashoffset 1s;
    opacity: 1;
}

.timer__self {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47em;
    height: 47em;
    background: linear-gradient(135deg, #A18CD1, #FBC2EB);
    background: var(--body-background);
    border-radius: 50%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.3s ease-in-out;
}

.timer__counter {
    display: flex;
    justify-content: center;
    max-width: 40em;
    filter: alpha(opacity=50);
    z-index: 2;
}

.timer__item {
    --timer__item-fz-em: 5.8em;

    padding: 0 2.5em;
    margin: auto;
}

.timer__item input:focus {
    border: calc(0.3em / var(--timer__item-ratio)) solid var(--input-focus-color);
}

.swiper-slide {
    cursor: pointer;
    transition: 0.3s all;
}

.vr {
    height: 30rem;
    width: 1px;
    opacity: 0.4;
    background: gray;
}

.swiper-slide {
    height: 6.8em !important;
}

.swiper-wrapper {
    height: 6.8em !important;
}

.timer__selected {
    position: absolute;
    top: calc(50% - 2.8em);
    height: 6.8em;
    width: 40em;
    opacity: 1;
}

.timer__top {
    position: absolute;
    height: 12.2em;
    width: 32em;
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

/*.timer__bottom {*/
/*    position: absolute;*/
/*    top: calc(50% + 4rem);*/
/*    height: 12.2rem;*/
/*    width: 32rem;*/
/*    opacity: 1;*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    z-index: 1000;*/
/*}*/

.timer__item input {
    font-size: var(--timer__item-fz-em);
    font-family: "PlayRegular", sans-serif;
    width: calc(9em / var(--timer__item-ratio));
    aspect-ratio: 83/69;
    text-align: center;
    padding-left: calc(0.2em / var(--timer__item-ratio));
    padding-bottom: calc(0.1em / var(--timer__item-ratio));
    outline: none;
    border: 0;
    border-radius: calc(1em / var(--timer__item-ratio));
    background: var(--inputs-background);
    box-shadow: var(--inputs-inner-shadow);
    color: var(--input-color);
    caret-color: var(--input-focus-color);
    caret: #ad8dbd;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.timer__item input::placeholder {
    color: var(--placeholder-color)
}

/*.swiper {*/
/*    display: none;*/
/*    height: calc(6.8em / var(--timer__item-fz)) !important;*/
/*    min-width: calc(8.3em / var(--timer__item-fz));*/
/*    text-align: center;*/
/*    padding-left: 0.3rem;*/
/*    font-size: 5.6rem;*/
/*    outline: none;*/
/*    border: 0;*/
/*    border-radius: 1rem;*/
/*    background: #F3E4FF;*/
/*    box-shadow: inset .4rem .4rem .7rem #ad8dbd, inset -.4rem -.4rem .7rem #ebbfff;*/
/*    caret-color: var(--main-color);*/
/*    caret: #ad8dbd;*/
/*}*/

.unit {
    font-size: var(--timer__item-fz-em);
    display: none;
    cursor: text;
    width: calc(9em / var(--timer__item-ratio));
    aspect-ratio: 83/69;
    text-align: center;
    padding-left: calc(0.2em / var(--timer__item-ratio));
    outline: none;
    border: 0;
    border-radius: calc(1em / var(--timer__item-ratio));
    background: #F3E4FF;
    background: var(--inputs-background);
    /*font-family: "TimerFont", sans-serif;*/
    box-shadow: var(--inputs-inner-shadow);
    color: var(--input-text-color);
    caret-color: var(--main-color);
    overflow-y: hidden;
    scrollbar-width: none;
}

[class*=secundomer-wrapper__] {
    cursor: auto;
}

.slider-wrapper__seconds::-webkit-scrollbar, .slider-wrapper__minutes::-webkit-scrollbar {
    width: 0;
}

.unit__item {
    user-select: none;
    line-height: calc(7.4em / var(--timer__item-ratio));
    -webkit-transition: all 0.4s cubic-bezier(0.9, 1.95, 0.53, 0.52);
    -moz-transition: all 0.4s cubic-bezier(0.9, 1.95, 0.53, 0.52);
    -o-transition: all 0.4s cubic-bezier(0.9, 1.95, 0.53, 0.52);
    transition: all 0.4s cubic-bezier(0.9, 1.95, 0.53, 0.52);
}

.timer__controls {
    font-size: 1em;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 25em;
    width: 20em;
    z-index: 2;
}

.timer__btn {
    font-size: 1em;
    cursor: pointer;
    width: 7em;
    aspect-ratio: 14/9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    border: 0;
    box-shadow: var(--controls-shadow);
    background: var(--inputs-background);
    -webkit-transition: all 0.08s ease;
    -moz-transition: all 0.08s ease;
    -o-transition: all 0.08s ease;
    transition: all 0.08s ease;
    /*transition: all 0.08s cubic-bezier(0.9, 1.95, 0.53, 0.52);*/
}

.btn-wrapper {
    transform: scale(1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.08s ease;
    -moz-transition: all 0.08s ease;
    -o-transition: all 0.08s ease;
    transition: all 0.08s ease;
}

.btn-wrapper .timer__btn:active {
    box-shadow: var(--controls-inner-shadow);
    transform: scale(0.97);
}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5em;
}

.dots.rotatingTimer {
    animation: dotsRotate1 1s infinite cubic-bezier(0.65, 1.95, 0.03, 0.82);
}

.dots.rotatingTimer:nth-child(2) {
    animation: dotsRotate2 1s infinite cubic-bezier(0.65, 1.95, 0.03, 0.82);
}

.dots.rotatingSecundomer {
    animation: dotsRotate2 0.5s infinite linear;
}

.dots.rotatingSecundomer:nth-child(2) {
    animation: dotsRotate1 0.5s infinite linear;
}

.dots span {
    width: 0.5em;
    aspect-ratio: 1;
    background: var(--dots-color);
}

.btn-play .timer__btn-icon {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 2em;
    border-color: transparent transparent transparent var(--controls-color);
    cursor: pointer;
    border-style: solid;
    border-width: 1em 0 1em 1.8em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.25s ease;
}

.btn-flag {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn-flag__reset-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--menu-active-bg);
    z-index: 1;
    transform: translateY(100%);
}

.btn-flag__reset-bg.resettingComplete {
    animation: resettingComplete 0.3s ease-in-out forwards;
}

.btn-flag path {
    fill: var(--controls-color);
}

.timer__btn-icon.paused {
    border-style: double;
    border-width: 0 0 0 1.8em;
}

.btn-stop .timer__btn-icon {
    width: 1.6em;
    aspect-ratio: 1/1;
    background: var(--controls-color);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.25s ease;
}

.btn-flag-wrapper {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.loader {
    margin-top: 10rem;
    text-align: center;
    font-size: 5.6rem;
    font-family: "TimerFont", sans-serif;
}

/*---------------------------------------------------------------------------------*/

.firstTab .svgCircle {
    animation: fading-in 0.5s ease-in-out forwards 0.3s;
}

.firstTab .svgCircle .circle_animation {
    stroke-dashoffset: 0;
}

.secondTab .svgCircle, .thirdTab .svgCircle {
    display: none;
}

.firstTab .timer__self {
    border: .2rem solid var(--main-color);
}


.timer.thirdTab {
    margin-top: 8rem;
    transition: opacity 0.3s ease-in-out;
}

.timer.firstTab {
    margin-top: 20rem;
}

.timer.secondTab {
    margin-top: 23.5rem;
}

.secondTab .btn-flag-wrapper {
    display: block;
}

.secondTab .timer__self {
    width: 60em;
    height: 40em;
    border-radius: 1.1em;
    border: var(--timer-border);
}

.secondTab .timer__controls {
    width: 30em;
}

.secondTab .flags {
    display: flex;
}

.secondTab .timer__wrapper {
    grid-template-areas: "flag1 timer flag2";
    grid-template-columns: 20em 60em 20em;
    column-gap: 3em;
}

.thirdTab .timer__wrapper {
    display: block;
}

.worldTime {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 3em;
    row-gap: 6em;
    column-gap: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    opacity: 0;
    animation: fading-in 0.3s ease-in-out forwards;
    /*grid-template-columns: repeat(auto-fit, 200px);*/
    /*grid-template-rows: repeat(auto-fill, 200px);*/
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    /*grid-template-rows: auto;*/
}

.fading-out {
    animation: fading-out 0.3s forwards !important;
}

.fading-in {
    animation: fading-in 0.3s forwards !important;
}

.sliding-out-left {
    animation: sliding-out-left 0.4s forwards cubic-bezier(0.9, -1, 1, 1.9);
!important;
}

.sliding-out-right {
    animation: sliding-out-right 0.4s forwards cubic-bezier(0.9, -1, 1, 1.9);
!important;
}


.worldTime__item {
    user-select: none;
    position: relative;
    padding-block: 0.7em;
    padding: 2em;
    background: var(--worldItem-bg);
    border-radius: 0.7em;
    background-size: cover;
    flex-basis: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.2em;
}

.worldTime__content {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.worldTime__item span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
}

.worldTime__item span img {
    width: 100%;
    height: auto;
}

.worldTime__city {
    font-family: "PlayBold", sans-serif;
    font-size: 2.8em;
    color: var(--worldItem-darker);
    z-index: 10;
}

.worldTime__time {
    font-size: 3.2em;
    color: var(--worldItem-time-color);

    background: var(--worldItem-main);
    padding-inline: 0.625em;
    border-radius: 0.15625em;
    z-index: 10;
}

.worldTime__timeZone {
    font-size: 1.6em;
    color: var(--worldItem-main);
    z-index: 10;
}

.menu-mobile {
    position: fixed;
    bottom: 0;

    font-size: 0.75rem;
    width: 100%;
    display: none;
    justify-content: center;
    margin-bottom: 1rem;
}

.menu-mobile__wrapper {
    padding: 0.9em 2.25em;
    /*background: #DFBFF8;*/
    /*background: var(--inputs-background);*/
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1em;
    margin-inline: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    backdrop-filter: blur(7.5px);
}

i {
    --stroke: 0.6em;
}

.menu-mobile__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5em;
    aspect-ratio: 1 / 1;

    border: var(--stroke) solid var(--icon-color);
    border-radius: 50%;

    cursor: pointer;
}

.menu-mobile i:active, .sfera:active, .menu-mobile .active {
    --icon-color: var(--main-color-darkest);
}

.menu-mobile  *, .menu-mobile *::before {
    transition: 0.15s ease-in-out;
}

.secundomer-icon::before {
    content: '';
    position: absolute;
    width: var(--stroke);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--icon-color);
    z-index: 1;
}

.icon__arrow {
    position: absolute;
}

.icon__arrow div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--icon-color);
    display: flex;
    justify-content: center;
    rotate: 180deg;
}

.icon__arrow .hours-arrow::before {
    position: absolute;
    content: '';
    width: var(--stroke);
    height: 1.23em;
    border-radius: 0.375em;
    background: var(--icon-color);
}

.icon__arrow .seconds-arrow::before {
    position: absolute;
    content: '';
    width: var(--stroke);
    height: 1.6em;
    border-radius: 0.375em;
    background: var(--icon-color);
}

.secundomer-icon.active #seconds-arrow {
    animation: arrow-rotating 1s infinite linear;
}

.secundomer-icon.active #hours-arrow {
    animation: arrow-rotating 12s infinite linear;
}

.timer-icon {
    position: relative;
    width: 4.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 0.225em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.timer-icon span {
    width: 40%;
    height: var(--stroke);
    background: var(--icon-color);
    border-radius: 0.375em;
}

.timer-icon.active span {
    animation: shaking 1.5s linear infinite;
}

.timer-icon2 .icon__arrow{
    transform: rotateZ(30deg);
}

.menu-mobile__item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*-----Стили для сферы-----*/
.sfera {
    position: relative;
    width: 4.5em;
    height: 4.5em;
    transform: scale(0.3) translate(-117%, -117%);
    cursor: pointer;
    /*transform: translate(-110%, -110%);*/
}

.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-inner-shadow {
    position: absolute;
    display: block;
    margin: 0;
}
.globe-sphere,
.globe-inner-shadow {
    left: 0;
    top: 0;
    width: 15em;
    height: 15em;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.globe-worldmap {
    left: 0;
    top: 0;
    width: 15em;
    height: 15em;
    overflow: hidden;
    border-radius: 50%;
}

.fr {
    fill: var(--icon-color);
    opacity: 1;
}

.bk {
    fill: var(--icon-color);
    opacity: 0.2 !important;
}

.globe-worldmap-front,
.globe-worldmap-back {
    left: 0;
    top: 0;
    width: 75em;
    height: 15em;
    overflow: visible;
    /*background-image: url(../img/worldmap.svg);*/
    background-repeat: no-repeat;
}

.globe-inner-shadow {
    border-radius: 50%;
    /*box-shadow: inset 0.4rem 0.4rem 0.7rem #ad8dbd, inset -0.4rem -0.4rem 0.7rem #ebbfff;*/
    /*box-shadow: inset 0 0 1.5rem rgba(0, 0, 0, 0.25);*/
    box-shadow: inset 0 0 1.125em var(--main-color-darkest);
    /*background-image: url(../img/inner_shadow.svg);*/
    /*background-size: 100% 100%;*/
}

.globe-worldmap-front {
    background-position: 0 0;
    /*background-size: 100%;*/
    /*animation: textureSpinreverse 8s linear infinite;*/
}
.globe-worldmap-back {
    transform: translateY(-16.5em);
    /*background-size: 100%;*/
    /*background-position: 0px -22em;*/
    /*transform: translateY(-22em);*/
    /*animation: textureSpin 8s linear infinite;*/
}

.sfera.active .globe-worldmap-front svg {
    animation: textureSpinreverse 8s linear infinite;
}

.globe-worldmap-front svg{
    width: 100%;
}

.sfera.active .globe-worldmap-back svg {
    animation: textureSpin 8s linear infinite;
}

.globe-worldmap-back svg {
    width: 100%;
    transform: translateY(-16.5em);
}

@keyframes textureSpin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-46.25%);
    }
}
@keyframes textureSpinreverse {
    from {
        transform: translateX(-46.25%);
    }
    to {
        transform: translateX(0);
    }
}
/*-----Стили для сферы-----*/

/*-----------------------------------------------------------------------------*/

/*------Адаптация------*/
@media (max-width: 1920px) {
    html {
        font-size: calc(((100vw) / 1920 * 10));
    }
}

@media (max-width: 1440px) {
    html {
        font-size: calc(((100vw) / 1920 * 10) + 2px);
    }
}

@media (max-width: 1024px) {
    html {
        /*font-size: 62.5%;*/
        font-size: 62.5%;
    }

    .header {
        --header-height: 8em;
        font-size: 0.75rem;
        height: var(--header-height);
    }

    /*.header__wrapper {*/
    /*    height: 8em;*/
    /*}*/

    .header__logo {
        display: none;
    }

    .header__logo-tablet {
        display: block;
    }

    .worldTime {
        font-size: 0.88rem;
    }
}

@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content auto calc(var(--header-height) + 7rem);
    }

    .header {
        font-size: calc(0.65rem + (7.5 - 6.5) * ((100vw - 32rem) / (768 - 320)));
    }

    .timer__wrapper {
        font-size: calc(((100vw) / 768 * 10 + 1.25px));
    }

    .menu-mobile {
        display: flex;
        margin-bottom: 1rem;
        /*font-size: calc(((100vw) / 768 * 10 + 1.5px));*/
        font-size: calc(0.7rem + (10 - 7) * ((100vw - 32rem) / (768 - 320)));

    }
    .menu-mobile__wrapper {
        /*width: calc(95% - (95 - 70) * ((100vw - 32rem) / (768 - 320)));*/
        width: calc(80% - 4vw);
        /*border: var(--timer-border);*/
    }

    .menu {
        display: none;
    }

    #timer-section {
        margin-top: 0;
    }

    .worldTime {
        font-size: calc(0.65rem + (0.8 - 0.65) * ((100vw - 32rem) / (768 - 320)));
        padding-inline: 0;
    }
}

/*@media (max-width: 576px) {*/

/*    body {*/
/*        display: grid;*/
/*        grid-template-columns: 100%;*/
/*        grid-template-rows: var(--header-height) auto var(--header-height);*/
/*    }*/

/*    .header {*/
/*        font-size: 0.85rem;*/
/*    }*/

/*    .menu-mobile {*/
/*        display: flex;*/
/*    }*/

/*    .menu {*/
/*        display: none;*/
/*    }*/

/*    #timer-section {*/
/*        margin-top: 0;*/
/*    }*/
/*}*/
/*------Адаптация------*/


/*------Анимации------*/
@keyframes fading-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fading-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sliding-out-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes sliding-out-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes inputColor-rotaion {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes dotsRotate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes dotsRotate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}


@keyframes resettingComplete {
    from {
        opacity: 1;
        transform: scale(1.5);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes progressBeep {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes timerBeep {
    0% {
        transform: scale(1);
        background: var(--body-background);
        /*background: #A18CD1;*/
    }
    50% {
        transform: scale(1.2);
        background: var(--main-color);
        /*background: linear-gradient(135deg, #FF4B4B, #FF8C5A);*/
        /*background: #FF4B4B;*/
    }
    100% {
        transform: scale(1);
        background: var(--body-background);
        /*background: #A18CD1;*/
    }
}

@keyframes flags__item {
    from {
        transform: translateX(-2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes arrow-rotating {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes shaking {
    0% {
        transform: rotateZ(0);
    }
    5% {
        transform: rotateZ(20deg);
    }
    10% {
        transform: rotateZ(-20deg);
    }
    20% {
        transform: translateX(0);
    }
}


.timerBeep {
    animation: timerBeep 0.75s infinite cubic-bezier(0.5, 1.5, 0.03, 0.9);
}

.progressBeep {
    animation: progressBeep 0.75s infinite cubic-bezier(0.5, 1.5, 0.03, 0.9) !important;
}

.cursorPointer {
    cursor: pointer;
}